* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	 margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
img {
	width: 100%;
}
body {
	background-color: lightgrey;
}
.container {
	background-color:  #32495E;
	max-width: 1400px;
	margin: auto;
}

.hdr-navigation {
	width: 1170px;
	margin: auto;
	margin-left: 115px;
	position: absolute;
	z-index: 9999;
	top: 20px;
	display: flex;
	justify-content: space-between;
		align-items: center;
		color: #32495E;
}
header {
	max-width: 1400px;
	height: 800px;
	display: flex;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	width: 206px;
}
.hdr-nav {
	display: flex;
	width: 500px;
	justify-content: space-between;
	list-style-type: none;
}
.hdr-nav li {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}
.li-flx {
	display: flex;
	align-items: center;
}
.strelka {
	width: 4px;
	height: 4px;
	margin-left: 6px;
}
.hdr-left {
	width: 50%;
	height: 800px;
	background-color: #E95258;
	position: relative;
}
.hdr-right {
	width: 50%;
	background-color: #F9F9F9;
		text-align: left;
		position: relative;
}
.hdr-lft-img {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 370px;
	height: 557px;
	background-color: #E95258;
	background-image: url(bg1.png);
	background-size: contain;
	background-size: 100% 100%;
	background-repeat: no-repeat;

}
.hdr-txt {
	width: 428px;
	height: 500px;
	margin: 200px 100px 100px 172px;
	text-align: right;
	color: #F9F9F9;
}
.hdr-txt h2 {
width: 428px;
height: 72px;
margin-bottom: 50px;
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 36px;
text-align: right;
text-transform: uppercase;
}
.hdr-lorem {
width: 220px;
height: 102px;
margin-left: 202px; 
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
margin-bottom: 29px;
}
.hdr-left .services {
	  direction: rtl;
  float: left;
  list-style-type: circle;
  margin-left: 303px;
  font-size: 14px;
	line-height: 17px;
	margin-bottom: 81px;
}
.services li {
	margin-bottom: 12px;
}
.button {
display: flex;
align-items: center;
width: 160px;
height: 50px;
margin-left: 268px;
font-weight: 500;
font-size: 14px;
line-height: 17px;
justify-content: center;
border: #F9F9F9 solid 1px;
border-radius: 80px;
color: #F9F9F9;
}
.hdr-right .hdr-txt {
	color: #32495E;
	margin: 200px 150px 100px 100px;
	width: 450px;
}
.hdr-right h2 {
	width: 450px;
	text-align: left;
}
.hdr-right .hdr-lorem {
	margin-left: 0px;
	margin-right: 230px;
	text-align: left;
}
.hdr-right .services {
	list-style-type: circle;
 	 margin-left: 25px;
  	text-align: left;
  	margin-bottom: 93px;
   	font-size: 14px;
	line-height: 17px;
 }
 .hdr-right .button {
	display: flex;
	align-items: center;
	width: 160px;
	height: 50px;
	margin-left: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	justify-content: center;
 	border: #32495E solid 1px;
	border-radius: 80px;
	color: #32495E;
 }
 .hdr-rght-img {
 	position: absolute;
	bottom: 0px;
	right:  0px;
	width: 425px;
	height: 488px;
	background-color: #F9F9F9;
	background-image: url(bg2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
 }
.hdr-rghr-media {
	width: 365px;
	height: 90px;
	position: absolute;
	bottom: 5px;
	right: 115px;
}
.img-mouse {
	width: 60px;
	height: 60px;
	position: absolute;
	left:  -30px;
	bottom: -30px;

}
section {
	padding: 0 115px;
}
section h2 {
font-weight: 800;
font-size: 44px;
line-height: 52px;
text-transform: uppercase;
}
.tipe-of-services {
	width: 1400px;
	height: 716px;
	margin-right: auto;
	color: #F9F9F9;
	text-align: left;
}
.tipe-of-services h2 {
	color: #F9F9F9;
	margin-top: 70px;
	margin-bottom: 40px;
}
.sct-1-flx {
	display: flex;
	justify-content: space-between;
}
.sct-1-cards {
	max-width: 281px;
}
.stn-1-blck-1 {
	position: relative;
	background-image: url(stn-1-1-1.png);
}
.stn-1-blck-1-img {
	height: 152px;
	background-color: #fff;
	background: url(bbg.png.);
 	opacity: 0.6;
}
.pulse-img {
	width: 44px;
	height: 44px;
	position: absolute;
	top: 54px;
	left: 119px;
}
.stn-1-blck-1-txt {
	height: 170px;
	background-color: #E95258;
	color: #fff;
	padding: 0 20px;
}
.stn-1-blck-1-txt h5 {
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	padding: 20px 0;
}
.stn-1-blck-1-txt p {
	font-size: 14px;
	line-height: 17px;
}
.stn-1-blck-2-img {
	height: 240px;
}
.h5 { 
	margin: auto;
	margin-top: 20px;
	width: 241px;
	font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
 }
 .tipe-of-services .button {
 	margin: auto;
 	margin-top: 40px;
 	margin-bottom: 142px;
 	color: #F9F9F9;
 }